body{
    font-family:sans-serif ;
    background-color: lightskyblue;

}

.header_div{
    background-color:lightskyblue;
    color: black;
}

.header_div p{
    font-family: sans-serif;
    color:crimson;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.main_div button{
    font-family: sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_right_footer{
    position: fixed;
    bottom: 0;
    color: black;
    width: 100%;
    font-size: 18px;
    background-color: lightskyblue;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px black;
}